@model PermissionFormModel

<div class="form-box">
    <form asp-controller="Permission" asp-action=@(Model.Id == null ? "Create" : "Edit") asp-route-id="@Model.Id" method="post">
        <div class="form-group">
            <p>Znormalizowana nazwa:</p>
            <input class="form-control" type="text" asp-for="@Model.Name" />
        </div>
        <div class="form-group">
            <p>Opis:</p>
            <textarea class="form-control" asp-for="@Model.FullName" rows="4"></textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Dodaj!" />
        </div>
    </form>
</div>