@model PermissionFormModel

<div class="form-box">
    <form asp-controller="News" asp-action=@(Model.Id == null ? "Create" : "Edit")
          asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Nazwa znormalizowana</label>
            <input class="form-control" type="text" asp-for="@Model.Name" />
        </div>
        <div class="form-group">
            <label>Nazwa pełna</label>
            <textarea class="form-control" asp-for="@Model.FullName" rows="4"></textarea>
        </div>
        <div class="form-group">
            <input style="margin-top:10px;" class="btn btn-primary" type="submit" value="Dodaj!" />
        </div>
    </form>
</div>