.AdminSelectPanel {
    width: 200px;
    height: 120px;
    cursor: pointer;
}

.hrefAdmin {
    width: 200px;
    height: 120px;
}

.hrefAdmin:hover {
    text-decoration: none;
}

.AdminSelectPanel:hover {
    transition: 0.3s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
