.AdminSelectPanel {
    width: 200px;
    height: 120px;
    cursor: pointer;
    margin:5px;
}

.hrefAdmin {
    width: 200px;
    height: 120px;
}

.hrefAdmin:hover {
    text-decoration: none;
}

.AdminSelectPanel:hover {
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
