.employeeNone {
    text-align: center;
    margin:auto;
    vertical-align: middle;
}
.h-40 {
    min-height: 40% !important;
}

.h-60 {
    min-height: 40% !important;
}

@media(min-width: 1281px) {
    .employeeVisitor {
        height: 80vh;
    }
}