.employeeNone {
    text-align: center;
    margin:auto;
    vertical-align: middle;
}
.h-40 {
    min-height: 40% !important;
}

.h-60 {
    min-height: 40% !important;
}

@media(min-width: 1281px) {
    .employeeVisitor {
        height: 80vh;
    }
}

.supportBox {
    width:100%;
    min-height:50vh;
    margin: 10px 0 10px 0;
    background-color:whitesmoke;
}

.liElement {
    width:100%;
}