.clickedButton {
    border: 2px solid blue;
    font-weight: bold;
    background-color:white;
}
.reservationTable {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.buttonExit {
    float:right;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}