@model Employee

<div class="row text-center">
    <div class="col">
        <h2>Imię</h2>
        <p>@Model.Name</p>
    </div>
    <div class="col">
        <h2>Nazwisko</h2>
        <p>@Model.Surname</p>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <h2>Stanowisko:</h2>
        <p>@Model.WorkPosition</p>
    </div>
</div>
