<div class="row">
    <h5>Panel pomocy technicznej</h5>
    <div class="col-lg-6">
        Wybrany użytkownik:
        <select class="form-select form-select-sm">
            <option>Zaimplementuj Hub</option>
        </select>
    </div>
    <div class="col-lg-6">
        <div class="row">

        </div>
    </div>
</div>