<div class="d-flex justify-content-around row">
    <div class="col-lg-6 text-center">
        <h5>Panel pomocy technicznej</h5>
        Wybrany użytkownik: <br />
        <select style="margin-top:5px;" id="userSelect" onchange="changeGroup()" class="form-control">
            <option value="null">-- Wybierz --</option>
        </select>
        <div class="text-center" style="margin-top:5px;">
            <ul id="usersList" style="list-style-type:none; line-height:5px;">
            </ul>
        </div>
    </div>
    <div class="col-lg-6 text-center">
        <div class="row">
            <div id="messageBox" class="border supportBox">
                <ul style="list-style-type:none;" id="messageList">
                </ul>
                <br />
            </div>
            <div class="input-group">
                <input type="text" id="messageInput" class="form-control" />
                <div class="input-group-append">
                    <button id="sendButton" class="btn btn-outline-primary">Wyślij!</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/Support.js"></script>