<div class="aboutBackground">
    <div class="aboutBlock text-center">
        <h1 class="text-center">Kim jesteśmy ?</h1>
        <p>
            Jesteśmy nową marką, realizujemy i rozwijamy nasze systemy lotnicze oferujemy wylotu do innych krajów.<br />

            Nasza firma cały czas się rozwija, naszym celem jest stały rozwój dalszych linii lotniczych by zapewnić wam wiele możliwości podróży.
        </p>
        <h1 className="text-center">
            Jak to wszystko się zaczęło
        </h1>
        <p>
            Naszym planem jest ciągły rozwój w tworzeniu alternatywy dla każdego, oferując wsparcie najlepszych ludzi z kompetencjami, staramy się być najlepsi dla państwa. <br />
            To co nas uczy to klienci ! To opinie i porady klientów są podstawą rozwoju naszej firmy!
        </p>
    </div>
</div>
