<div class="aboutBackground">
    <div class="aboutBlock text-center">
        <h1 class="text-center">Who we are ?</h1>
        <p>
            We are a new brand, we create outlets to different countries. We fly to countries such as
            UK, Italy, Spain etc.<br />

            Our company is constantly evolving in terms of departures and strives to further expand in the field of travel.
        </p>
        <h1 className="text-center">
            How did it all start ?
        </h1>
        <p>
            Our plan was and still is to create an alternative for everyone, offering the support of the best people and competitiveness, we strive to be the best for the state. <br />
            What the state teaches us is the opinions of customers and advice are the basis for our company's development!
        </p>
    </div>
</div>
