<h4 class="text-center">Za chwile pomoc techniczna się z tobą skontaktuje...</h4>

<div class="messageBox">
    <ul id="messageList">
    </ul>

    <br />
    <button id="sendButton" class="btn btn-outline-primary">Wyślij!</button>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/SupportUser.js"></script>