<div id="infoStatus">
    <h4 class="text-center" id="connectWait">Za chwile pomoc techniczna się z tobą skontaktuje...</h4>
    <h4 class="text-center" id="connectedUser"></h4>
    <button style="display:none;" id="reconnectBtn" class="btn btn-primary" onclick="reconnect()">Połącz!</button>
</div>
<div class="messageBox">
    <ul id="messageList">
    </ul>

    <br />
    <input type="text" id="messageInput" class="form-control-sm" />
    <button id="sendButton" class="btn btn-outline-primary">Wyślij!</button>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/SupportUser.js"></script>