<div id="infoStatus">
    <h4 class="text-center" id="connectWait">Za chwile pomoc techniczna się z tobą skontaktuje...</h4>
    <h4 style="display:none;" class="text-center" id="connectedUser"></h4>
</div>
<div class="border supportBox">
    <ul style="list-style-type:none;" id="messageList">
    </ul>

    <br />
</div>
<div class="input-group">
    <input type="text" id="messageInput" class="form-control" />
    <div class="input-group-append">
        <button id="sendButton" class="btn btn-outline-primary">Wyślij!</button>
    </div>
</div>
<button style="margin-top:10px" disabled id="reconnectBtn" class="btn btn-primary" onclick="reconnect()">Połącz!</button>

<script src="~/js/signalr.js"></script>
<script src="~/js/SupportUser.js"></script>