@model AirplaneFormModel

<div class="form-box">
    <form asp-controller="Flight" asp-action=@(Model == null ? "CreateAirplane" : "EditAirplane") method="post">
            <div class="form-group">
                <p>Nazwa samolotu:</p>
                <input class="form-control" type="text" asp-for="@Model.PlaneName" />
            </div>
            <div class="form-group">
                <p>Ilość miejsc:</p>
                <input class="form-control" type="number" asp-for="@Model.NumberOfSeats" />
            </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Zarejestruj!" />
        </div>
    </form>
</div>