@model Airplane

<div class="row text-center">
    <div class="col">
        <h2>Nazwa</h2>
        <p>@Model.PlaneName</p>
    </div>
    <div class="col">
        <h2>Ilość siedzeń</h2>
        <p>@Model.NumberOfSeats</p>
    </div>
</div>