@model FlyyAirlines.Data.News
<div class="row text-center">
    <h2>Temat</h2>
    <p>@Model.Topic</p>
</div>

<div class="row text-center">
    <h2>Treść</h2>
    <p>@Model.Content</p>
</div>

<div class="row text-center">
    <h2>Data Publikacji</h2>
    <p>@Model.PublicDate</p>
</div>