@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">Wystąpił błąd podczas wysyłania żadania.</h2>

<h4>Kod: @Model.RequestCode</h4>

<p>
    <strong>@Model.RequestDescription</strong>
</p>
